/* COMMON */
header{
    background-color: darkblue;
    padding: 30px 0;
    color: white;
}
section{
    padding: 50px 0;
}
.star{
    font-size: 25px;
}
/* MY BACKGROUNDS */
.green_background{
    background-color: #1abc9c;
    color: white;
}
/* HEADER */
.box-left{
    font-size: 20px;
    font-weight: bold;
}
.box-right{
    font-size: 20px;
    font-weight: bold;
}
.nav{

    justify-content: flex-end;
}
.nav ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.nav ul li{
    padding: 0 15px;
}

@media screen and (min-width: 576px) {
    header {
        height: 80px;
    }
}

.img_box{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 50px 20px;
}

/* MAIN */
.container_jumbo{
    padding: 30px 0;
}
.jumbotron{
    text-align: center;
}
.jumbotron h1{
    margin: 25px 0;
}
.jumbotron h3{
    margin: 15px 0;
}
.jumbotron img{
    margin-top: 50px;
    width: 250px;
}
.star{
    padding: 10px 0;
}

/* MAIN CENTER */
section{
    text-align: center;
}
.section-center h2{
    font-size: 35px;
}

/* PORTFOLIO */
.portfolio-wrap-items{
    margin: 20px 0;
}
.portfolio-wrap-items img{
    width: 100%;
    border-radius: 15px;
}

/* SECTION MIDDLE */
.container_middle{
    width: 60%;
    margin: auto;
    max-width: 1920px;
}

.wrap-text{
    margin-bottom: 25px;
}